section.head
  #header-carousel.carousel.slide
    .carousel-inner
      .item.active
        img(src="assets/img/airsonea_slider_2.jpg", alt="ipad")
        .carousel-caption.left
          h2 AirSonea&trade;
          p Turn your smartphone into a portable wheeze monitor. 
            a(href="https://shop.airsonea.com.au") Order yours today.
      .item
        img(src="assets/img/asthmasense_slider.jpg", alt="phone")
        .carousel-caption.left
          h2 AsthmaSense&reg;
          p Anytime. Anywhere. AsthmaSense Cloud — the world’s most intelligent asthma app is available free.
          a(href="https://itunes.apple.com/us/app/asthmasense/id529799477?mt=8")
            img.appstore(/src="assets/img/available-on-app-store.png", alt="available-on-app-store")
          a(href="https://play.google.com/store/apps/details?id=com.ezasia.isonea&hl=en")
            img.appstore(src="assets/img/googleplay.png", alt="googleplay")
      .item				
        img(src="assets/img/blog_slider.jpg", alt="macbookair")
        .carousel-caption.left
          h2 Blog
          p Mums. Doctors. Sisters. Dads. Nurses. Researchers. Brothers. Kids. You? Read stories about real people affected by asthma.
    a.left.carousel-control(href="#header-carousel", data-slide="prev")
      span.icon-prev
    a.right.carousel-control(href="#header-carousel", data-slide="next")
      span.icon-next
    ol.carousel-indicators.hidden-xs
      li.active(data-target="#header-carousel", data-slide-to="0")
      li(data-target="#header-carousel", data-slide-to="1")
      li(data-target="#header-carousel", data-slide-to="2")

section#circles.circles			
  .container
    .row
      .col-sm-4.center
        a(href="http://airsonea.com")
          img.siteicons(src="assets/img/AirsoneaLogoround.png", alt="AirsoneaLogoround")
        h4 AirSonea&trade;
        p The world’s first smartphone compatible device for monitoring wheeze.
      .col-sm-4.center
        a(href="http://asthmasense.com")
          img.siteicons(src="assets/img/AsthmaSenseLogoround.png", alt="Asthmasense")
        h4 AsthmaSense&reg; Cloud
        p Set reminders for meds and measurements, record symptoms and triggers, and track insights.
      .col-sm-4.center
        a(href="http://blog.asthmasense.com")
          img.siteicons(src="assets/img/BlogLogo.png", alt="Blog")
        h4 Blog
        p Check out stories from real people with asthma, including Olympic Champion Cathy Freeman and our very own CEO.
    .row.top-plus.hidden-xs
      .col-sm-4.center
        a.plus(href="http://asthmasense.com")
      .col-sm-4.center
        a.plus(href="http://airsonea.com")
      .col-sm-4.center
        a.plus(href="http://blog.asthmasense.com")

section.pickone.hidden-xs
  .container
    h2.center AirSonea will change the way you monitor wheeze
    p.center Click on AsthmaSense or AirSonea to learn more.
    .row
      .col-sm-6
        a(href="http://airsonea.com")
          img.center.device-hover(src="assets/img/airsonea_device3.png", alt="airsonea_device3")
      .col-sm-6
        a(href="http://asthmasense.com/cloud")
          img.center.phone-hover(src="assets/img/iphone_withscreen3.png", alt="iphone_withscreen3")

          
section.security.hidden-xs
  .container
    #feat-carousel.carousel.slide
      .carousel-inner
        .item.active.slide-icons
          .row
            .col-sm-4.center
              img(src="assets/img/WheezeWhite92.png", alt="Wheeze")
              h4 Wheeze
              p.hidden-xs Detect, measure and track your wheeze.  			
            .col-sm-4.center
              img(src="assets/img/AlertWhite92.png", alt="AlertWhite92")
              h4 Alert Status
              p.hidden-xs Receive alerts when your asthma risk changes or needs better control.  	
            .col-sm-4.center
              img(src="assets/img/RemindersWhite92.png", alt="RemindersWhite92")
              h4 Medication Reminders
              p.hidden-xs Set reminders to take medication or check wheeze.   	
          .row
            .col-sm-4.center
              a.plus(href="#wheeze", data-toggle="modal")
            .col-sm-4.center
              a.plus(href="#alertstatus", data-toggle="modal")
            .col-sm-4.center
              a.plus(href="#reminders", data-toggle="modal")

        .item.slide-icons
          .row
            .col-sm-4.center
              img(src="assets/img/measure_icon_92.png", alt="menu-black")
              h4 Track & Measure
              p.hidden-xs Track symptoms, triggers, wheeze and medication usage.  	
            .col-sm-4.center
              img(src="assets/img/accuratedata_icon_round.png", alt="accuratedata_icon")
              h4 Share Data
              p.hidden-xs Share accurate, objective data with your doctor.     		
            .col-sm-4.center
              img(src="assets/img/cloud_icon-2.png", alt="cloud_icon-2")
              h4 Seamless Monitoring
              p.hidden-xs Monitor your (or your child’s) asthma anytime, anywhere.    
          .row
            .col-sm-4.center
              a.plus(href="#track", data-toggle="modal")
            .col-sm-4.center
              a.plus(href="#accuratedata", data-toggle="modal")
            .col-sm-4.center
              a.plus(href="#seamless", data-toggle="modal")	
      ol.carousel-indicators
        li.active(data-target="#feat-carousel", data-slide-to="0")
        li(data-target="#feat-carousel", data-slide-to="1")

section.videos.hidden-xs
  .container
    .row
      .col-sm-12
        h2.center Watch
        h4.center Learn More About AsthmaSense
      #ytChanPlayer.ytChanPlayer
    .row.more-yt
      .col-sm-12.center
        a.btn.btn-primary(href="http://youtube.com/SoundAsthma", target="_blank") More on YouTube

#wheeze.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Did you know?
      .modal-body
        p AsthmaSense Cloud provides an ongoing record of your symptoms, medication use, and AirSonea WheezeRate measurements. This information will help you and your healthcare provider know how well your asthma is controlled and may indicate if you are at risk for a flare up of your asthma.

#alertstatus.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Did you know?
      .modal-body
        p You can control your asthma by knowing the warning signs of an asthma attack. Making sure your asthma stays well controlled can allow you to sleep better, not miss as much work or school, take part in physical activities and most important of all, not have to go to the hospital.

#reminders.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Did you know?
      .modal-body
        p Most children and adults diagnosed with asthma do not keep their asthma under control, mostly due to not properly taking medications when prescribed and proper peak flow testing. 

#track.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Did you know?
      .modal-body
        p The goal of asthma treatment to control the disease is by adhering to a treatment plan that you created with your doctor. Take asthma medicines as prescribed, along with tracking symptoms and triggers can help you play an active role in managing your asthma. 

#accuratedata.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Did you know?
      .modal-body
        p By taking the guesswork out of your symptoms, triggers and events, you can manage your asthma and give accurate data to your physician so your treatment plan can work for you and not the other way around.

#seamless.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Did you know?
      .modal-body
        p An estimated 235 million people worldwide suffer from asthma. There are more than 250,000 asthma-related fatalities each year. Asthma deaths are related to lack of proper treatment. Better monitoring is critical to successful asthma management. 
