section.main-content
	.container
		.row
			.col-lg-12
				h1.page-title About AsthmaSense.com
				p AsthmaSense.com is an effort by iSonea Ltd. We are committed to providing innovative technology, proven medical research and unbiased information that can improve asthma management, every day, for people of all ages.
				img(src="../assets/img/isonealogo.jpg", alt="isonealogo")
				p We pioneer technology that fits easily into consumers’ every day lives, helping them pinpoint the causes and triggers for asthma so that they can take appropriate interventions. With our Acoustic Respiratory Monitoring technology, software and diagnostic algorithms, we are providing services that make it easy, convenient and almost effortless to monitor wheezing and responses to treatment.
				p As a result of our work, asthma sufferers and the people who care for them will be empowered to improve their health and quality of life. Learn more about our efforts by following us on 
					a(title="SoundAsthma on Twitter", href="http://www.twitter.com/soundasthma", target="_blank") Twitter 
					| liking us on 
					a(title="SoundAsthma on Facebook", href="http://www.facebook.com/soundasthma", target="_blank") Facebook 
					| or watching our posted content on 
					a(title="SoundAsthma on YouTube", href="http://www.youtube.com/soundasthma", target="_blank") YouTube.
					
				p To learn more about iSonea Ltd., visit 
					a(title="iSoneaMed.com", href="http://www.isoneamed.com", target="_blank") iSoneaMed.com.
