section.main-content
  .container
    .row
      .col-lg-12
        h1.page-title Peace of Mind Now, and More Confidence Over Time
        img.pull-right.img-padding.img-responsive(src="/assets/img/isonea-folding.jpg", alt="airsonea-device")
        p Acoustic Respiratory Monitoring (ARM&trade;) provides an objective measurement of wheezing — a primary symptom of asthma. It can give you immediate feedback about the severity of an attack and may indicate the need for a rescue inhaler.
        p When used over time, ARM can give you a better understanding of how triggers such as pollen, pets, activity or anxiety may affect you. It can also measure your response to medication. ARM can inform you when other ways of monitoring cannot.
        p Frequent and regular monitoring of breathing symptoms in real-life settings provides information that you, your family, or your doctor can use to help evaluate the severity of asthma and guide a course of treatment.
        p One major symptom of asthma is wheezing; the percentage of your breathing time that you spend wheezing is called your WheezeRATE™. Monitoring your WheezeRATE can help you determine if your wheezing is stable, increasing or decreasing. If your WheezeRATE is high or is increasing, there is a greater chance that you are having, or will have, an asthma attack. 
        h4 ARM Yourself
        p One way to monitor wheezing is through Acoustic Respiratory Monitoring. ARM provides an objective measurement of wheezing — a primary symptom of asthma. ARM also provides immediate feedback about the severity of an attack or may indicate the need for a rescue inhaler. A rescue inhaler is a quick acting inhaled medication that dilates or opens the air passages. It can provide short-term relief from an asthma attack.
        p When used over time, ARM can give you a better understanding of how triggers such as pollen, pets, activity, or anxiety may affect you. It also can measure your response to rescue medication and provide information on your wheezing to your physician, who can adjust your asthma plan and treatment regimen as appropriate.
        h4 ARM with a WheezoMeter&trade;
        p Developed by iSonea Ltd., the WheezoMeter enables you to quickly check your wheezing at anytime and anywhere. Using Acoustic Respiratory Monitoring technology, the WheezoMeter easily measures breath sounds in adults and children to document the WheezeRATE in a given time.
        p iSonea Ltd. is committed to developing proprietary devices to acoustically measure and analyze breathing sounds caused by narrowing of a patient’s airway. Other ARM technology coming soon from iSonea includes: