section.main-content.contact
  .container
    .row
      .col-lg-11.col-sm-offset-1
        h1.page-title Contact
        h4 For product inquiries or technical support:
        .vcard
          a.fn.org.url(href="http://isoneamed.com/") iSonea Limited
          .adr
            .street-address 1716 Ord Way
            span.locality Oceanside,  
            span.region(title="California") California  
            span.postal-code 92056
            .country-name USA
          .tel
            span +1 760.297.6055
          div 
            span Email: 
              a(href="mailto:service@isoneamed.com") Service@iSoneaMed.com
        
        h4 For business inquires      
        .vcard
          a.fn.org.url(href="http://isoneamed.com/") iSonea Limited
          .adr
            .street-address P.O. Box 990
            span.locality Millersville,  
            span.region(title="Maryland") Maryland  
            span.postal-code 21108-9998
            .country-name USA
          div 
            span Email: 
              a(href="mailto:info@isoneamed.com") Info@iSoneaMed.com
        
        h4 In Australia   
        .vcard
          a.fn.org.url(href="http://isoneamed.com/") iSonea Limited
          .adr
            .street-address Suite 1, 1233 High Street
            span.locality Armadale,  
            span.region(title="Victoria") Victoria
            span.country-name AU  
            span.postal-code 3143
